/bootstrap/compiled.php
.env.*.php
.env.php
.env


composer
composer.phar
/bootstrap/compiled.php

/public/assests/build
/public/packages/barryvdh
/public/min
/public/test.php

/vendor

/app/config/local/*
/app/config/dev/*
/app/config/base.php
/app/config/base.php.mine
/app/storage/*
/app/assets/scss/framework

/reports

/nbproject
*.sqlite
_ide_helper.php
.DS_Store
.vagrant
.lock
.idea
phpunit.sh

